<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.homefloorplan.sensorSample</string>
		<string>com.homefloorplan.ruleEvaluation</string>
		<string>com.homefloorplan.dataLifecycle</string>
	</array>
	<key>NSWeatherKitUsageDescription</key>
	<string>HomeFloorplan usa WeatherKit per ottenere le previsioni meteo locali e adattare i suggerimenti ambientali alle condizioni climatiche esterne.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict>
			<key>UIColorName</key>
			<string>LaunchBackground</string>
		</dict>
	</dict>
</dict>
</plist>
